@import "./App.css";
@import "./containers/containers.css";
@import "./components/components.css";

:root {
  --body-bg-color: #1795d4;
  --primary-color: #fed800;
  --white-color: #ffffff;
  --light-grey-color: #d3d3d3;
  --dark-grey-color: #373d45;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 40px 0;
  background-color: var(--body-bg-color);
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}